<form {{on 'submit' this.signIn}}>
  <p>{{this.errorMessage}}</p>
  <div>
    <label>
      Email
      <Input type="email" name="email" @value={{this.email}} />
    </label>
  </div>
  <div>
    <label>
      Password
      <Input type="password" name="password" @value={{this.password}} />
    </label>
  </div>
  <button type="submit">Sign In</button>
  <LinkTo @route="user.new">Sign Up</LinkTo>
</form>
