<h1 id="title">Welcome to Ember</h1>

{{#if this.session.isAuthenticated}}
  Signed In.
  <button onclick={{this.signOut}}>Sign Out</button>
{{/if}}

{{#if this.routeRequiresAuthentication}}
  <SignInForm @onSignedIn={{this.handleSignIn}} />
{{else}}
  {{outlet}}
{{/if}}
